@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(151, 151, 151);
}

@layer base {
  body {
    @apply !bg-[#121212] text-gray-300;
  }
}

@layer components {
}
