@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    @apply !bg-[#121212] text-gray-300;
  }
  body {
    @apply !bg-[#121212] text-gray-300;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(151, 151, 151);
}

* {
  background-color: #121212;
  color: rgb(209 213 219);
}
